@function card-url($path) {
  @return url("../local/creditcard/assets/#{$path}");
}

.accepted-cards {
  margin-top: 11px;

  .accepted-card {
    background-color: #fff;
    background-position: 0 0;
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 30px;
    margin-left: 10px;
    overflow: hidden;
    text-indent: -9999px;
    border: 1px solid #fff;
    box-shadow: 0 1px 1px rgba(#000, 0.2);

    &:first-child {
      margin: 0;
    }
  }

  .visa {
    background-image: card-url('visa-logo.png');
    width: 48px;
  }

  .mastercard {
    background-image: card-url('mastercard-logo.png');
    width: 48px;
  }

  .amex {
    background-image: card-url('amex-logo.png');
    width: 30px;
  }

  .diners {
    background-image: card-url('diners-logo.png');
    width: 43px;
  }
}
.


